mixin posts(array)
  ul.post__list
    each item in array.items
      - let name_mod = item.col && item.row ? `${array.dictionary[`${item.col}x${item.row}`]}` : '';
      li.post__item(class= name_mod ? `post__item--${name_mod}` : '')
        a.post__link
          .post(class= name_mod ? `post--${name_mod}${item.img ? '_img' : ''}` : '')
            if item.baner
              +picture({
                  jpeg: true,
                  class: 'post_baner__pic',
                  img_class: 'post_baner__img',
                  img: item.baner.img
              })
              .post_baner__info
                span.post_baner__acent=item.baner.acent
                .post_baner__title_wrap
                  span.post_baner__title!=item.baner.title
                span.post_baner__autor=item.baner.autor
                .post_baner__link
                  .link__text=item.baner.link
                  .link__icon
                    +icon(item.baner.icon, 'icon--size_mod')

            else
              if item.img
                +picture({
                  jpeg: true,
                  class: 'post__pic',
                  img_class: 'post__img',
                  img: item.img
                })
              .post__info
                .post__header
                  .post__category(class = `post__category--${item.category_mod}`)=item.category || ''
                  if item.icon
                    .post__icon
                      +icon(item.icon, 'icon--size_mod')
                  else
                    if item.autor
                      .post__autor=item.autor
                h3.post__title(class = item.title_mod ? `post__title--${item.title_mod}` : '')=item.title || ''
                if item.text
                  .post__text(class = item.text_mod ? `post__title--${item.text_mod}` : '')=item.text
                .post__footer
                  .post__date=item.date || ''
                  .post__time=item.time || ''
